vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|14 Aug 2014 13:36:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Office-PC\\Rafael
vti_modifiedby:SR|Office-PC\\Rafael
vti_timecreated:TR|01 Nov 2014 09:10:32 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|14 Aug 2014 13:36:44 -0000
vti_cacheddtm:TX|03 Nov 2015 21:10:37 -0000
vti_filesize:IR|4418
vti_cachedlinkinfo:VX|S|../image/overlay.png S|../image/controls.png S|../image/controls.png S|../image/controls.png S|../image/controls.png S|../image/controls.png S|../image/controls.png S|../image/border.png S|../image/border.png S|../image/loading_background.png S|../image/loading.gif S|../image/controls.png S|../image/controls.png S|../image/controls.png
vti_cachedsvcrellinks:VX|FSUS|catalog/view/theme/theme436/image/overlay.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/border.png FSUS|catalog/view/theme/theme436/image/border.png FSUS|catalog/view/theme/theme436/image/loading_background.png FSUS|catalog/view/theme/theme436/image/loading.gif FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png FSUS|catalog/view/theme/theme436/image/controls.png
vti_syncofs_mydatalogger.de\:22/%2fvar/www/vhosts/s16851491.onlinehome-server.info/kaufreund.de:TW|14 Aug 2014 13:36:44 -0000
vti_syncwith_mydatalogger.de\:22/%2fvar/www/vhosts/s16851491.onlinehome-server.info/kaufreund.de:TW|03 Nov 2015 21:10:37 -0000
