vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|14 Aug 2014 12:39:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Office-PC\\Rafael
vti_modifiedby:SR|Office-PC\\Rafael
vti_timecreated:TR|01 Nov 2014 09:08:45 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|14 Aug 2014 12:39:17 -0000
vti_cacheddtm:TX|03 Nov 2015 21:06:51 -0000
vti_filesize:IR|15469
vti_cachedlinkinfo:VX|S|images/close.png S|images/mini.png S|images/mini.png S|images/mini.png
vti_cachedsvcrellinks:VX|FSUS|admin/view/javascript/ckeditor/skins/moono/images/close.png FSUS|admin/view/javascript/ckeditor/skins/moono/images/mini.png FSUS|admin/view/javascript/ckeditor/skins/moono/images/mini.png FSUS|admin/view/javascript/ckeditor/skins/moono/images/mini.png
vti_syncofs_mydatalogger.de\:22/%2fvar/www/vhosts/s16851491.onlinehome-server.info/kaufreund.de:TW|14 Aug 2014 12:39:17 -0000
vti_syncwith_mydatalogger.de\:22/%2fvar/www/vhosts/s16851491.onlinehome-server.info/kaufreund.de:TW|03 Nov 2015 21:06:51 -0000
